########################################################
# CONFIGURACIÓN DE INFRAESTRUCTURA (AIRFLOW & DOCKER)
########################################################
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

#########################################################
# CONFIGURACIÓN DE LÓGICA DE NEGOCIO (SCRIPTS DE INGESTA)
#########################################################
# URL del objetivo de scraping para la capa Bronze
BUSCALIBRE_URL='https://www.buscalibre.cl/libros-mas-vendidos-en-chile_t.html'
# User-Agent para simular peticiones de navegador legítimas y evitar bloqueos
USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"